<h1>Login</h1>

<% if @error %>
  <p class="error-list"><%= @error %></p>
<% end %>

<%= form_for(:session) do |f|%>
<div class="form-group">
  <%= f.label :username %> </br>
  <%= f.text_field :username, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password %> </br>
  <%= f.password_field :password, class: "form-control"%>
</div>
<div>
  <%= f.submit "Login", class: "btn btn-primary" %>
</div>
<% end %>

<div>
Don't have an account? <%= link_to "Register", register_path %>
</div>