<h1>Login</h1>

<%= form_for(:session) do |f|%>
<div>
  <%= f.label :username %> </br>
  <%= f.text_field :username %>
</div>
<div>
  <%= f.label :password %> </br>
  <%= f.password_field :password %>
</div>
<div>
  <%= f.submit "Login" %>
</div>
<% end %>

<div>
Don't have an account? <%= link_to "Register", register_path %>
</div>