<h1>Registration</h1>

<% if @user.errors.any? %>
  <ul class="error-list">
  <% @user.errors.full_messages.each do |m|%>
    <li>
      <%= m %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :username %> </br>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %> </br>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %> </br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Register", class: "btn btn-primary" %>
  </div>
<% end %>

<div>
Already have an account? <%= link_to "Login", login_path %>
</div>