<h1><%= @project.name %></h1> 
<%= @project.date %>

<div class="row">
  <div class="col-md-6">
    <%= link_to "All projects", projects_path, class: "btn btn-default", role: "button" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Edit",edit_project_path(@project), class: "btn btn-default",role: "button" %>
    <%= link_to "Delete",@project, method: :delete, data: {confirm: "Really want to delete ?"},class: "btn btn-danger",role: "button" %>
    
  </div>
</div>

<div id="description">
  <p>Description</p>
  <p><%= @project.description %></p>
</div>

<h2>Tasks to be done today</h2>

<div>
  <ul class="tasks">
  <% @project.tasks.each do |t| %>
    <li>
      <%= check_box_tag :finish,"",t.finish,class: "task", data: {id: t.id, project_id: @project.id} %> <%= t.body %>
	    <%= link_to "Edit",edit_project_task_path(@project,t) %>
	    <%= link_to "Delete",project_task_path(@project, t), method: :delete, data: {confirm: "Sure to delete?"} %>
    </li>
  <% end %>
  </ul>
</div>

<% if @task %>
  <%if @task.errors.any?%>
    <ul class="error-list">
    <% @task.errors.full_messages.each do |m|%>
      <li><%= m  %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<%= form_for([@project,@project.tasks.build]) do |f|%>
<div class="form-group">
  <%= f.label :task %> <br/>
  <%= f.text_area :body,class: "form-control",rows: 3 %>
</div>
<div>
  <%= f.submit "Create Task", :class => 'btn btn-primary' %>
</div>
<% end %>